[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "project-firdaus"

[packages]
zappa = "==0.54.2"
discord-interactions = "==0.4.0"

[dev-packages]
commitizen = "==2.29.2"
pre-commit = "==2.20.0"
wemake-python-styleguide = "==0.16.1"

[requires]
python_version = "3.8"
